.scrapbook-container {
    background-image: url('C:/Users/Dell/OneDrive/Desktop/VD4J/img.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    background-color: #f8f0f5; /* Light pink background */
    min-height: 100vh;
}

h1 {
    color: #e789c3;
    background-color: aliceblue;
    font-size: 2rem;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.scrapbook-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(4, auto);  /* 4 rows */
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.scrapbook-item {
    width: 90%;
    aspect-ratio: 1/1; /* Makes sure images are square */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.scrapbook-item img {
    width: 70%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.scrapbook-item img:hover {
    transform: scale(1.05);
}
